[Unit]
Description=Pldm soft power off of the host
Wants=pldmd.service
After=pldmd.service
Wants=obmc-host-stopping@0.target
Before=obmc-host-stopping@0.target
Conflicts=obmc-host-start@0.target
ConditionPathExists=!/run/openbmc/host@0-request

[Service]
Restart=no
ExecStart=/usr/bin/env pldm-softpoweroff
SyslogIdentifier=pldm-softpoweroff
Type=oneshot