[Unit]
Description=PLDM soft power off app
Wants=pldmd.service
After=pldmd.service
Wants=obmc-host-stop-pre@0.target
Before=obmc-host-stop-pre@0.target
Conflicts=obmc-host-start@0.target

[Service]
Restart=no
Environment=SOFTOFF_ARGS=null
EnvironmentFile=-/etc/default/softoff
ExecStart=/usr/bin/pldm-softpoweroff $SOFTOFF_ARGS
Type=oneshot
